body {
    height: 100%;
    background-color: #f3f5f6;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    font-size: 100%;
    color: #000;
    text-decoration: none;
    border-radius: 0;
}

ul {
    width: auto;
    list-style: none;
}

a:hover {
    cursor: pointer;
}

p {
    font-size: 1.1em;
    line-height: 1.40em;
    padding: 0 0 16px 0;
}